[Unit]
Description=sutrc protocol server
After=network.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/sutserver server %i sqlite3=/var/lib/sutserver-%i/auth.db /var/lib/sutserver-%i/filedrop
Restart=on-failure
DynamicUser=yes
StateDirectory=sutserver-%i
TimeoutStartSec=10
Environment="USING_SYSTEMD=1"

[Install]
WantedBy=multi-user.target
