[Unit]
Description=sutrc protocol server
After=network.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/sutserver server /etc/sutserver.yml
Restart=on-failure
DynamicUser=yes
StateDirectory=sutserver
TimeoutStartSec=10
Environment="USING_SYSTEMD=1"

[Install]
WantedBy=multi-user.target
